In [7]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
add = a+b
sub = a-b
mul = a*b
div = a/b
mod  = a%b
print("Sum : {0},Sub : {1} ,Mul : {2}, Div : {3},mod : {4}".format(add,sub,mul,div,mod))#print using format
print("Sum : %d , Sub : %d , Mul : %d , Div : %15.3f , Mod : %d"%(add,sub,mul,div,mod))#print using PADDLING AND PRICISION

Enter the value of a : 45
Enter the value of b : 20
Sum : 65,Sub : 25 ,Mul : 900, Div : 2.25,mod : 5
Sum : 65 , Sub : 25 , Mul : 900 , Div :           2.250 , Mod : 5

In [8]:
print("{0:<4} | {1:<4} | {2:<4} | {3:<4} | {4:<4}".format("Sum","Sub","Mul","Div","mod"))
print("{0:<4} | {1:<4} | {2:<4} | {3:<4} | {4:<4}".format(add,sub,mul,div,mod))

Sum  | Sub  | Mul  | Div  | mod
65   | 25   | 900  | 2.25 | 5

In [9]:
a = 2
b = 3
c = a**b #power
print(c)

8

In [10]:
a = [1,2,5,67,4]

from random import shuffle
shuffle(a)
a

[1, 67, 4, 2, 5]

In [23]:
#IMPORT LIBRARY
import pandas as pd

In [13]:
#LOAD DATASET FROM LOCAL DIRECTORY
dataset = pd.read_csv("C:\\Users\\PIYUSH\Downloads\\6_Statistics_UseCase\\Dataset.csv")

In [14]:
dataset.head()

   land   price
0  1000  2245.0
1  2000  4575.0
2  3000  6874.0
3  4000  8878.0
4  5000     NaN

In [15]:
#LOAD DATASET
dataset

    land      price
0   1000     2245.0
1   2000     4575.0
2   3000     6874.0
3   4000     8878.0
4   5000        NaN
5   6000    12457.0
6   7000    14785.0
7   8000    16785.0
8  10000  2078900.0

In [16]:
#LOAD SUMMARIZE
print(dataset.shape)
print(dataset.describe())

(9, 2)
               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [17]:
#CHECKING FOR NAN VALUE
dataset.isna().any()

land     False
price     True
dtype: bool

In [18]:
#FILLING NAN VALUE WITH MEAN
#PROBLEM - NEW VALUE BECOMES HIGH COZ OF OUTLIER(HIGH VALUE SCALE)
Meandatasetnotnan = dataset.price.fillna(dataset.price.mean())
Meandatasetnotnan

0       2245.000
1       4575.000
2       6874.000
3       8878.000
4     268187.375
5      12457.000
6      14785.000
7      16785.000
8    2078900.000
Name: price, dtype: float64

In [19]:
#FILLING NAN VALUE WITH MEDIAN
Mediandatasetnotnan = dataset.price.fillna(dataset.price.median())
Mediandatasetnotnan

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: price, dtype: float64

In [20]:
dataset.describe()

               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [21]:
percentile = dataset.price.quantile(1)
percentile

2078900.0

In [22]:
datasetnooutlier = dataset[dataset.price<percentile]
datasetnooutlier

   land    price
0  1000   2245.0
1  2000   4575.0
2  3000   6874.0
3  4000   8878.0
5  6000  12457.0
6  7000  14785.0
7  8000  16785.0

In [1]:
# creating the first class
class Phone :             #the first letter of class  always capital
    
    def make_call(self):
        print("making phone call")
        
    def play_game(self):
        print("I am playing a game")

In [3]:
p1 = Phone()  #making object of this class

In [6]:
#implementation
p1.make_call()
p1.play_game()

making phone call
I am playing a game

In [9]:
#adding parameters to the class

class Phone:
    
    def set_color(self,color):
        self.color = color 
        
    def set_cost(self,cost):
        self.cost = cost
    
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("making phone call")
        
    def play_game(self):
        print("I am playing a game")

In [10]:
p2 = Phone()  #assign a class to object

In [17]:
p2.set_color("blue")
p2.set_cost( "forty five lakh")

In [19]:
p2.show_color()

'blue'

In [20]:
p2.show_cost()

'forty five lakh'

In [21]:
##creating a class with constructor (init)

class Employee:
    
    def __init__(self,name,age,salary,gender):
        
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def employee_details(self):
        
        print("Name of employee is",self.name)
        print("Age of employee is",self.age)
        print("Salary of employee is",self.salary)
        print("Gender of employee is",self.gender)

In [22]:
## initiating the 'e1' object

e1 = Employee('sam',32,85000,'male')

In [23]:
## invoking the 'employee_details' method
e1.employee_details()

Name of employee is sam
Age of employee is 32
Salary of employee is 85000
Gender of employee is male

In [4]:
##INHERITENCE

#creating the base class

class Vehicle:
    
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_details(self):
        print("I am a vehicle")
        print("mileage of vehicle is",self.mileage)
        print("cost of vehicle is",self.cost)

In [5]:
#instantiating the object for base class
v1 = Vehicle(500,500)
v1.show_details()

I am a vehicle
mileage of vehicle is 500
cost of vehicle is 500

In [6]:
#creating the child class

class Car(Vehicle):
    def show_car(self):
        print("i am a car")

In [7]:
#instantiating the object for child class

c1 = Car(200,1200)
c1.show_details()

I am a vehicle
mileage of vehicle is 200
cost of vehicle is 1200

In [8]:
#invoking the child class method

c1.show_car()

i am a car

In [10]:
#OVERRIDING INIT METHOD
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("numbers of tyres in car:",self.tyres)
        print("Horse power of car is ", self.hp)

In [12]:
c1 = Car(600,10000000,8,999)
c1.show_car_details

In [3]:
#multiple inheritance
#Parent class one

class Parent1():
    def assign_string_one(self,str1):
        self.str1  = str1
    def show_string_one(self):
        return self.str1

In [4]:
#Parent class two
class Parent2():
    def assign_string_two(self,str2):
        self.str2  = str2
    def show_string_two(self):
        return self.str2

In [5]:
#Child class

class Derived(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
        
    def show_string_three(self):
        return self.str3

In [8]:
#INSTANTIATING OBJECT OF CHILD CLASS
d1  = Derived()

In [10]:
d1.assign_string_one("one")
d1.assign_string_two("two")
d1.assign_string_three("three")

In [11]:
#invoking method
d1.show_string_one()

'one'

In [12]:
d1.show_string_two()

'two'

In [13]:
d1.show_string_three()

'three'

In [14]:
#multi level inheritance
 #parent class
    
class Parent():
    def assign_name(self,name):
        self.name = name
        
    def show_name(self):
        return self.name

In [15]:
#child class
class Child(Parent):
    def assign_age(self,age):
        self.age = age
        
    def show_age(self):
        return self.age

In [16]:
#GrandChild class
class GrandChild(Child):
    def assign_gender(self,gender):
        self.gender = gender
        
    def show_gender(self):
        return self.gender

In [17]:
gc = GrandChild()

In [18]:
gc.assign_name("piyush")
gc.assign_age(22)
gc.assign_gender("male")

In [22]:
gc.show_name()

'piyush'

In [20]:
gc.show_age()

22

In [21]:
gc.show_gender()

'male'